doctype html
html
		head
				meta(charset='utf-8')
				title Settings
				link(href='css/popup.css', rel='stylesheet')
		body
			//- .switch.cache
			//- 	.switcher.switcher-cache
			//- 		input(type='checkbox', name='toggle-cache', id='toggle', class='toggle-cache')
			//- 		label(for='toggle-cache')
			//- 	.switcher-label
			//- 		h4 caching

			.switch.bitrate
				.switcher.switcher-bitrate
					input(type='checkbox', name='toggle-scrobble', id='bitrate', class='toggle-bitrate')
					label(for='toggle-scrobble')
				.switcher-label
					h4 bitrate

			.switch.scrobble
				.switcher.switcher-scrobble
					input(type='checkbox', name='toggle-scrobble', id='scrobble', class='toggle-scrobble')
					label(for='toggle-scrobble')
				.switcher-label
					h4 scrobbling

			script(src='js/popup.js')    
